name: Build & Deploy (Ubuntu Self-hosted)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Debug + Deploy
        shell: bash
        run: |
          set -euxo pipefail
          whoami
          id
          pwd
          ls -alh /opt/todo || true
          ls -alh /opt/todo/deploy.sh
          /opt/todo/deploy.sh
          docker ps